

<header>
    <img src="/graphics/Everyone_loves_to_cook.png" alt="" style="transform: scaleX(-1);">
    <h1>Chef David's Elite Food Website Thing</h1>
    <img src="/graphics/Everyone_loves_to_cook.png" alt="">
</header>