<nav>
    <div class="navitem"><a href="/home">Home</a></div> 
    <div class="navitem" ><a href="/recipelist">Recipe List</a></div>
    <div class="navitem"><a href="/addrecipe">Add Recipe</a></div>
    <div class="navitem"><a href="/getrecipe">Get Recipe</a></div>
</nav>