<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/styles.css">
</head>

<body>
    
    <header>
        <h1>Chef David's Elite Cuisine</h1>
    </header>

    <nav>
        <div class="navitem"><a href="views/home.ejs">Home</a></div> 
        <div class="navitem" ><a href="/recipelist.ejs">Recipe List</a></div>
        <div class="navitem active"><a href="/views/addrecipe.ejs">Add Recipe</a></div>
        <div class="navitem"><a href="/views/getrecipe.ejs">Get Recipe</a></div>
    </nav>
    
    <main>
    <h2>Add a new recipe:</h2>
    <form id="recipe-form">
        
        <label for="recipe-name">Recipe Name:</label><br>
        <input type="text" id="recipe-name" name="recipe_name" required><br><br>

        <label for="recipe-info">Recipe Info:</label><br>
        <textarea id="recipe-info" name="recipe_info" required></textarea><br><br>

        <label for="instructions">Instructions:</label><br>
        <textarea id="instructions" name="instructions" required></textarea><br>
        
        <section id="ingredients">
        <h3 style="max-width: 400px; margin: auto;">use the <b>Add another ingredient</b> button to include more ingredients before submitting the recipe. <br><br>
            You may select any items from our professionally curated list of gourmet partial-foodstuffs.
            <br><br>
            Quantities and measurements are irrelevant, as we have our chef instincts to guide us.</h3>
        <h6 style="font-size: 6px">(and because I don't want to account for <br> like 10 different units of measurement)</h6>
        
        <div id="ingredient-container">
           
        </div>
        <button type="button" id="add-ingredient">Add Another Ingredient</button><br><br>

        <button type="submit">Submit Recipe</button>
    </form>
    <script src="scripts.js"></script>
    </section>
        
</main>
    
<footer>
    
    <h5>Page created by David Knupp</h5>
    <div>Resources used for this page:
        <ul>
        <li> Copilot for instructions on how to generate a preconfigured element repeatedly</li>
        <li>Copilot to also help with routes because I was confused for hours (and still am)</li>
        </ul>
    </div>
</footer>

</body>
</html>