<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/styles.css">
</head>


<body>
    
    <header>
        <h1>Chef David's Elite Cuisine</h1>
    </header>

    <nav>
        <div class="navitem active"><a href="views/home.ejs">Home</a></div> 
        <div class="navitem" ><a href="/recipelist.ejs">Recipe List</a></div>
        <div class="navitem"><a href="/views/addrecipe.ejs">Add Recipe</a></div>
        <div class="navitem"><a href="/views/getrecipe.ejs">Get Recipe</a></div>
    </nav>
    
    
    <main>
        
    </main>
    
    
    
    
    
    
    
    
    
</body>


</html>