html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}

body {
    background: white;
    display: flex;
    margin: 0;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

header {
    background: linear-gradient(to bottom, black, powderblue);
    height: 100px;
    color: white;
    font: Arial;
    font-size: 18px;
}

nav {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    background: linear-gradient(to bottom, powderblue, violet);
    width: 100%;
    text-align: center;
}


.navitem {
    width: 20%;
    align-self: center;
    padding-right: 50px;
    font-size: 18px;
    font-weight: bold;
}

.navitem.active {
    text-decoration: underline;
}

.navitem a {
    color: black;
    text-decoration: none;
}

.ingredient-add {
    margin-bottom: 20px;
}


footer {
    background: linear-gradient(to top, black, powderblue);
    color: white;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

main {
    background-color: powderblue;
    display: flex;
    justify-content: top;
    align-items: center;
    color: black;
    font: Arial;
    flex: 1;
    flex-direction: column;
}

button {
    background-color: #4caf50; 
    align-self: center;
    max-width: fit-content;
    color : white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position:relative;
    
}


button:hover {
    background-color: #45a049;
}


div ~ p {
    
}


